aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
anyio==4.12.0
attrs==25.4.0
brotli==1.2.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cloudscraper==1.2.71
colorama==0.4.6
cryptography==46.0.3
dill==0.4.0
exejs==0.0.6
frozenlist==1.8.0
g4f==6.6.7
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
jh2==5.0.10
lxml==6.0.2
multidict==6.7.0
multiprocess==0.70.18
nest-asyncio==1.6.0
niquests==3.16.1
pathos==0.3.4
pox==0.3.6
ppft==1.7.7
propcache==0.4.1
pycparser==2.23
pycryptodome==3.23.0
pyparsing==3.3.1
pyTelegramBotAPI==4.29.1
qh3==1.5.6
requests==2.32.5
requests-toolbelt==1.0.0
tqdm==4.67.1
translators==6.0.1
typing_extensions==4.15.0
urllib3==2.6.0
urllib3-future==2.15.901
wassima==2.0.3
yarl==1.22.0
